body {
  margin: 0;
  padding: 0;
}
.icon i{
  margin: 0 10px 0 10px;
}
.phone_head{
  margin: 0 10px 0 10px;
}

.header_container_dark{
  background-color: rgb(37, 37, 37);
  color: rgb(236, 230, 255);
 padding: 0 50px;
}

.login_signup_container{
  display: flex;
  justify-content: flex-end;
  /* flex direction style */
}

.login_signup_container button{
  background: none;
  border: none;
  color: rgb(236, 230, 255);

}
.custom-link-nav .nav-link{
  color: rgb(37, 37, 37);
  padding: 0 10px;
  border-right: 1px solid rgb(37,37,37);
  }
  
  
  .custom-link-nav .nav-item:last-child .nav-link
  {
  border: none;
  }
  
  
  .custom-link-nav{
    width: 100%;
  height: 100%;
  justify-content: center;
    align-items: center;
  }
  
  .nav-custom .custom-logo{
    height: 93.2px;
  
  }
  .custom-align{

    display: flex;
  justify-content: center;
    align-items: center;
    height: 100%;
  
  }
  .custom-btn-donate{
    height:43px;
    margin-top: 21px;
    border-radius: 30px;
  }
  
  .nav-custom{
    padding:5px 50px;
  }
  .hero-img-custom{
    height: 393px;
  background-image:url("./resources/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  .hero-heading{

    position: absolute;
    top: 40px;
    left: 97px;
    text-transform: uppercase;
  
  }
  .hero-text{
    text-align: center;
    margin-top: 13px;
    border-right: 2px solid rgb(37,37,37);
  
  }
  .hero1{
    padding-top: 10px;
  }
  .hero-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    color: rgb(29, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(253, 196, 205, 0.4);
    justify-content: center;
  }
  .banner-1-custom{
    height: 300px;
    background-color: #ed9915;
  color: rgb(236, 230, 255); 
  display: flex;
  flex-direction: column;
  padding:0 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  }
  
  .banner-1-custom span{
  margin: 15px 0;
    width: 50px;
    height: 1px;
  border-top: 5px solid #fff;
  
  }
  .donate-conatiner {
    height: 300px;
  }
  .circle-div-container{
  position: relative;
  height: 300px;
  width: 809px;
  
  }
  .circular-div{
    height: 200px;
    width: 200px;
  
    color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    border: 1px solid rgb(29, 29, 29);
    top: 20%;
  }
  
  .circular-div span{
    text-align: center;
  }
  
  
  .circular-div.cr1{
  
  
    left: 16%;
  }
  .circular-div.cr2{
    background-color: rgb(36, 154, 201);
    left: 38%;
    color: #fff;
    border: none;
    z-index: 2;
  
  }
  .circular-div.cr3{
  
    left: 59%;
  
  
  }
  
  .donate-info-btn-con .btn{
    border-radius: 30px;
    height: 30px;
    width: 120px;
    font-size: 14px;
    margin: 0 10px;
  }
  .donate-info-btn-con{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-2-custom{
    height: 300px;
    margin-top: 50px;
    margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  padding:0 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  }
  
  .banner-2-custom span{
  margin: 15px 0;
    width: 50px;
    height: 1px;
  border-top: 5px solid rgb(2, 178, 79);;
  
  }
  
 
  .custom-card-btn{
    background-color: rgb(236, 230, 255);
    color: rgb(26, 192, 26);
    border: none;
  }
  .custom-card-btn:hover{
    background-color: rgb(207, 204, 214);
    color: rgb(26, 192, 26);
    border: none;
  
  }
  
  .custom-card-img{
    padding: 0;
  }
  
  .custom-card-img img{
    max-height: 400px;
  }
  
  .card-1-custom-con{
    max-width:724px;
    margin: 0 auto;
  }

  .heignt-creator{
    height: 270px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(185, 245, 185);
  }
  
  .bar-chart{
  width: 45px;
  display: flex;
  flex-direction: column-reverse;
  background-color: rgb(36, 154, 201);
  position: relative;
  border-radius: 3px;
  }
  
  
  .bar-chart p {
  white-space: nowrap;
  
    transform: rotate(-90deg);
  }
  .bar-chart div {
  position: absolute;
  top: -20px;
  left: 12px;
  }
  
  .con-chart{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .custom-misc-2-con-chart{
    padding: 40px 150px;
    background-color: #f6f5f3;
  }
  .custom-misc-3-con-chart{
    padding: 40px 150px;
    background-color: #e4f7e5;
  }
  .cuystom-card-2 .card-img-top{
    max-height: 230px;
  }
  
  .cuystom-card-2 .card-title{
    font-size: 25px;
  }
  .cuystom-card-2 .card-text{
  padding: 5px;
    font-size: 25px;
  }



  
  .hero-icon{
    margin-top: 100px;
    padding: 40px 0px;
  }

  .hero2-img-custom{
    height: 393px;
  background-image:url("./resources/images/hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  .hero2-heading{

    position: absolute;
    color: #fff;
    top: 40px;
    left: 97px;
    margin-top: 100px;
    margin-left: 100px;
    text-transform: uppercase;
  
  }
  /* rgb(4, 245, 4) */
  .gtext{
    color:limegreen;
  }
  .banner5-img-custom{
    height: 500px;
  background-image:url("./resources/images/banner5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  .banner5-heading{

   
    position: absolute;
    color: rgb(255, 255, 255);
    top: 40px;
    left: 97px;
    margin-top: 100px;
    margin-left: 100px;
    text-transform: uppercase;
  background-color: rgba(29, 29, 29, 0.692) ;
  }
  .banner5-icon{
    margin-top: 100px;
    padding: 40px 0px;
  }

  * {
    box-sizing: border-box;
  }
  
  
  .col {
    float: center;
  width: 300px;
  padding: 10px;
  height: 300px;
  text-align: center;
  align-items: center;
  border: rgb(29, 29, 29);
  background-color: rgb(187, 207, 238);
  
  padding-left: 20px;
    
  }
  .form-icon{
    position: relative;  
    }
    .line2{
      margin: 15px 0;
      width: 50px;
      height: 1px;
      border-top: 5px solid #02b24f;
      color: solid #02b24f;
    }
    .form-icon i{
      position: absolute;
      left: 5px;
      top: 16%;
    
    }
    
    .form-icon input{
      padding: 0 0 0 30px;
    }
    
    .pill{
      border-radius: 30px;
    }
    
    .transaprent-kid{
      position: absolute;
      max-width: 380px;
      right: 320px;
      top: 0;
    }
    
    
    .slider-image-team{
      border-radius: 50%;
      max-width: 150px;
    }
    .banner5-right{
      margin-top: 68px;
      margin-right: 80px;
      position: absolute;
      top: 10px;
      right: 90px;
      text-transform: initial;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color:rgb(236, 230, 255)
    }
    .banner5-right1{
      margin-top: 191px;
      margin-left: 850px;
      position: absolute;
      top: 10px;
      right: 90px;
      
      text-transform: initial;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color:rgb(236, 230, 255)
    }
    .banner5-right2{
      margin-top: 341px;
      margin-left: 850px;
      position: absolute;
      top: 10px;
      right: 90px;
      
      text-transform: initial;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color:rgb(236, 230, 255)
    }
   
    .banner5-box1{
      margin-top: 193px;
      margin-right: 237px;
      position: absolute;
      top: 10px;
      right: 297px;
      text-transform: initial;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: #02b24f;
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .banner5-box2{
      margin-top: 341px;
      margin-right: 237px;
      position: absolute;
      top: 10px;
      right: 297px;
      text-transform: initial;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: #02b24f;
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
  
    .custom-card-2 .card-img-top{
      max-height: 230px;
      
      
    }
    
    .custom-card-2 .card-title{
      font-size: 15px;
      
    }
    .custom-card-2 .card-text{
    padding: 5px;
      font-size: 10px;
      
    }
    
    .custom-card-2{
      margin: 45px;
      margin-right: 120px;
    }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

